mixin single(items)
	section
		div.article__wrapper.fill(ng-repeat="item in #{items} track by item.id")
			article.article.fill.article-animation(ng-show="view.id === item.id")
				.row
					.article__nav.clearfix
						.col-xs-3.text-left
							.article__nav-left
								back-to-list
						.col-xs-9.text-right
							.article__nav-right(ng-controller="Navbar")
								a(ng-click="saveForLater(item)")
									span.iconmonstr.iconmonstr-time
									|  Save for later
								a(ng-click="markAsFav(item)")
									span.fa.fa-heart
									|  Add to favourites
								a.hidden-xs(href="#")
									span.fa.fa-share
									|  Share

					.article__header
						.col-xs-12.col-md-8.col-md-offset-2
							.article__meta
								.article__data
									.row
										.col-xs-6.text-left {{item.source}}
										.col-xs-6.text-right
											span.fa.fa-book
											|  3 min read
								h1.article__title(ng-bind-html="item.title")
								p.article__desc(ng-bind-html="item.description")
						.article__image.clearfix(style="background-image: url({{item.image}})")

					.article__content.clearfix
						.col-xs-12.col-md-8.col-md-offset-2
							.article__text(ng-bind-html="item.content")

							.article__text
								a.article__button.btn.btn-neutral.btn-block.btn-lg(href="{{item.url}}", target="_blank") Read orginal article


				a(ng-click="nextArticle(#{items}[$index + 1])", ng-show="#{items}[$index + 1] != undefined").article__next.row
					.col-xs-12.col-md-8.col-md-offset-2
						.article__data
							.row
								.col-xs-6.text-left Next to read
						h1.article__title(ng-bind-html="#{items}[$index + 1].title")
						p(ng-bind-html="#{items}[$index + 1].description")
